.sidebar
  .sidebar__header
    .sidebar__header__box
      .username
        = current_user.name
      %ul.icon
        %li.list
          = link_to new_group_path do
            = icon('fas', 'pen-square', class: 'contents__btn')
        %li.list
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'contents__btn')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .index
            = group.show_last_message
